
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat:wght@300&family=Open+Sans:wght@300&family=Roboto+Mono&display=swap');

*{

    padding: 5px, 2px, 2px, 5px;

}
body{
    font-family: 'Inter', sans-serif;
}
header{
    display: flexbox;

}
