
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Montserrat:wght@300&family=Open+Sans:wght@300&family=Roboto+Mono&display=swap');
@media only screen and (max-width:430px){
    *{
        margin: 0;
        padding: 0;
        
        
    }
    /*
        button scroll up 
    */

    #progress{
        background-color: #03cc65;
        position: fixed;
        bottom:20px;
        right: 10px;
        height: 70px;
        width: 70px;
        display: grid;
        place-items: center;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0,0,0,0.4);
        cursor: pointer;
    }
    #progress_value{
        display: block;
        height:100%;
        width:100%;
        /* width:calc(100% -15px); */
        background-color: #e6dcdc;
        border-radius: 50%;
        font-size: 25px;
        text-align: center;
        
    }

    body{
        font-family: 'Inter', sans-serif;
        
    }
    #grid-container-main{
        
        display: grid;
        /* gap: .2rem; */
        
        grid-template-columns: 1fr;
        grid-template-rows:repeat (7,auto);
        grid-template-areas: "nav"
        "part1"
        "part2"
        "part3"
        "part4"
        "part5"
        "footer";   
    }
    #except_mobile{
        display: none;
    }
    #part4_main_desk{
        display: none;
    }
    .footer_main_desk{
        display: none;
    }
    
    
    #nav_main{
        grid-area: "nav";
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: .5rem 0 .5rem 0;
    }
    #nav_main ul{
        list-style: none;
        text-align: center;
        padding: 0 0 1rem 0;
    }
    #nav_main ul li{
        padding: .3rem 0 .3rem 0;
    }
    
    #nav_main ul li #contact_link{
        background-color: #e6bd43;
        border: none;
        cursor: pointer;
        text-align: center;
        padding: 11px 32px;
    }
    #nav_main ul li a{
        text-decoration: none;
        color: #000;
    }
    #part1_main{
        grid-area: "part1";
        background-image: url("../ressurser/bkg_part1.png");
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        background-size: cover;
        position: relative;
        z-index: 1;
    }
    #part1_main::after{
        content: "";
        background-color: rgba(128,128,128,0.9);
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        
    }
    #part1_main h2{
        padding: 2rem 0 1rem 0;
    }
    #part1_main p{
        padding: 1rem 0 1.5rem 0;
        margin: 0 3rem 0 3rem;
        text-align: center;
    
    }
    #part1_main button{
        background-color: #e6bd43;
        border: none;
        cursor: pointer;
        text-align: center;
        padding:.5rem 1.4rem;
    }
    #part1_main button a{
        text-decoration: none;
        color: #000;
    }
    #part2_main{
        grid-area: "part2";
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: .5rem 4rem .5rem 4rem;
    }
    #part2_main h2{
        padding: 2rem 0 1rem 0;
        text-align: center;
    }
    #part2_main p{
        padding: 1rem 0 1.5rem 0;
        text-align: center;
    }
    
    #part3_main{
        grid-area: "part3";
        background-color: #e6bd43;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: .5rem 0 .5rem 0;
        padding: .5rem 0 1rem 0;
    }
    #part3_main img{
        width: 250px;
        height: auto;
        max-width: 692px;
        aspect-ratio: 1/1;
        padding: 2rem 0 2rem 0;
        
    }
    #part3_main div{
        display: flex;
        flex-direction: column;
    }
    #part3_main div h2{
        padding: 2rem 0 1rem 0;
        text-align: center;
    }
    #part3_main div p{
        padding: 1rem 0 1.5rem 0;
        margin: 0 3rem 0 3rem;
        text-align: center;
    }

    #part3_main div button a{
        text-decoration: none;
        color: #000;
        
    }
    #part3_main div button{
        background-color: #e6bd43;
        border:1px solid #000;
        cursor: pointer;
        text-align: center;
        padding:.5rem 1.4rem;
        margin:  0 20% 0 20%;
    }
    #part4_main{
        grid-area:"part4";
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: .5rem 0 1rem 0;
    }
    #part4_main h2{
        font-size: 20px;
        font-weight: bolder;
    }
    #part4_main ul{
        list-style: none;
        text-align: center;
    }
    #part4_main ul li img{
        width: 120px;
        height: auto;
        aspect-ratio: 1/1;
        padding: 1.2rem 0 0 0;
    }
    #part4_main ul li p{
        margin: 0 4rem 0 4rem;
        padding: .2rem 0 .2rem 0;
        font-size: 12px;
        font-weight: bolder;
    }
    #part5_main{
        grid-area: "part5";
        background-color: #d3cece;
        justify-content: center;
        align-items: center;
        padding: .2rem 0 2rem 0;
        
    }
    #part5_main ul{
        list-style: none;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        padding: 0 0 1rem 0;
    
    }
    #part5_main ul li input{
        border: none;
        padding: 15px 32px;
    
    
    } 
    #part5_main ul li button{
        background-color: #e6bd43;
        border:none;
        cursor: pointer;
        text-align: center;
        padding: 15px 32px;
        
    }
    
    #part5_main h2{
        padding: 2rem 0 1rem 0;
        text-align: center;
        font-size: 20px;
        font-weight: bolder;
    
    }
    #footer_main{
        grid-area: "footer";
        background-color: #252525;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #footer_main ul{
        list-style: none;
        display: inline-flex;
    }
    
    #footer_main ul li img{
        padding: 1rem 1rem 1rem 1rem;
        width: 3rem;
        height: auto;
        aspect-ratio: 1/1;
    }
    #footer_main img{
        /* padding: 2rem 0 2rem 0;  */
        width: 5rem;
        height: auto;
        aspect-ratio: 1/1;
        padding: 1rem;
    }
    #footer_main h3{
        color: #ffff;
        font-size: 15px;
    
    }






    /* #footer_main{
        grid-area: "footer";
        background-color: #252525;
        display: flex;
        justify-content: center;
    }
    #footer_main img{
        width: 60px;
        height: auto;
        aspect-ratio: 1/1;
        padding: 2rem;
    }
    #footer_main  */
    
    /*---------------settings mobil-portfolio----------------------------- */
    #grid-container-portafolio{
    
        display: grid;
        /* gap: .2rem; */
        
        grid-template-columns: 1fr;
        grid-template-rows:repeat (7,auto);
        grid-template-areas: "nav"
                             "part1"
                             "part2"
                             "part3"
                             "part4"
                             "part5"
                             "footer";   
    }
    #nav_por{
        grid-area: "nav";
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: .5rem 0 .5rem 0;
    }
    #nav_por ul{
        list-style: none;
        text-align: center;
        padding: 0 0 1rem 0;
    }
    #nav_por ul li{
        padding: .3rem 0 .3rem 0;
    }
    
    #nav_por ul li .contacto{
        background-color: #e6bd43;
        border: none;
        cursor: pointer;
        text-align: center;
        padding: 11px 32px;
    }
    #nav_por ul li a{
        text-decoration: none;
        color: #000;
    }
    
    #part1_por{
        grid-area: "part1";
        background-image: url("../ressurser/bkg_part1.png");
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8rem 0 8rem 0;
        background-size: cover;
        position: relative;
    }
    #part1_por::after{
        content: "";
        background-color: rgba(128,128,128,0.6);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
    .r1{
       border: 1px solid #e6bd43;
       margin: 1rem 0 2rem 0;
    }
    
    
    #part2_por{
        grid-area: "part2";
        background-color: #ffff;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        margin: 0 3rem 0 3rem;
        padding: .5rem 0 1rem 0;
    }
    #part2_por #subtitle{
        text-align: center;
    }
    #part2_por .buttons_port{
        list-style: none;
        text-align: left;
    }
    #part2_por .buttons_port li{
        padding: .5rem 1rem .9rem 0;
    }
    #part2_por .buttons_port li button{
        border: 1px solid #000;
        padding: 10px 20px;
        margin: 0 15px 0 15px;
        background-color: #ffff;
    }
    .buttons_port li p{
        border: 1px solid #000;
        text-align: left;
    }
    #part3_por{
        grid-area: "part3";
        background-color: #ffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 3rem 0 3rem;
        padding: .5rem 0 1rem 0;
    }
    #part3_por hr{
        width: 100%;
    }
    #part3_por h2{
        padding: 1rem 0 1rem 0;
        text-align: left;
    }
    #part3_por ul{
        list-style: none; 
    }
    #part3_por ul li img{
        width: 290px;
        max-width: 692px;
        height: auto;
        aspect-ratio: 1/1;
        padding: 1.2rem 0 0 0;
    }
    #part3_por hr{
        border: 1px solid #e6bd43;
        margin: 1rem 0 2rem 0;
    
    }
    #footer_por{
        grid-area: "footer";
        background-color: #252525;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #footer_por ul{
        list-style: none;
        display: inline-flex;
    }
    
    #footer_por ul li p img{
        padding: 1rem 1rem 1rem 1rem;
        width: 3rem;
        height: auto;
        aspect-ratio: 1/1;
    }
    #footer_por #logo_bottom{
        /* padding: 2rem 0 2rem 0;  */
        width: 5rem;
        height: auto;
        aspect-ratio: 1/1;
        padding: 1rem;
    }
    #footer_por h3{
        color: #ffff;
        font-size: 15px;
    
    }
    /*---------------settings mobil-about----------------------------- */
    
    
    
    #grid-container-about{
    
        display: grid;
        /* gap: .2rem; */
        
        grid-template-columns: 1fr;
        grid-template-rows:repeat (7,auto);
        grid-template-areas: "nav"
                             "part1"
                             "part2"
                             "part3"
                             "part4"
                             "part5"
                             "part6"
                             "footer";   
    }
    
    #nav_abo{
        grid-area: "nav";
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: .5rem 0 .5rem 0;
    }
    #nav_abo ul{
        list-style: none;
        text-align: center;
        padding: 0 0 1rem 0;
    }
    #nav_abo ul li{
        padding: .3rem 0 .3rem 0;
    }
    
    #nav_abo .list_links li #contact{
        background-color: #e6bd43;
        border: none;
        cursor: pointer;
        text-align: center;
        padding: 11px 32px;
    }
    #nav_abo ul li a{
        text-decoration: none;
        color: #000;
    }
    #part1_abo{
        grid-area: "part1";
        background-image: url("../ressurser/bkg_part1.png");
        background-size:cover;
        padding: 9rem 0 9rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: cover;
        position: relative;
        z-index: 1;
    }
    .flotante{
        overflow:auto;
        height: 20rem;
        width: auto;
        aspect-ratio: 1/1;
        background-color: #f7f7f7;
        text-align: center;
    }
    .flotante h3{
        padding: .5rem 0 .5rem 0;
        font-size: 15px;
    }
    .flotante h2{
        padding: 1rem 0 1rem 0;
        font-weight:600;
    }
    
    .flotante p{
        padding: .5rem 2rem .5rem 2rem;
        font-size: 12px;
    }
    .flotante button{
        background-color: #e6bd43;
        border: none;
        cursor: pointer;
        text-align: center;
        margin: 1rem;
        padding:.5rem 1.4rem;
    }
    #part1_abo .flotante::after{
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
    
    
    }
    
    #part4_abo .flotante{
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 2rem;
        z-index: 1;
    
    }
    
    
    
    
    #footer_abo{
        grid-area: "footer";
        background-color: #252525;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #footer_abo ul{
        list-style: none;
        display: inline-flex;
    }
    
    #footer_abo ul li p img{
        padding: 1rem 1rem 1rem 1rem;
        width: 3rem;
        height: auto;
        aspect-ratio: 1/1;
    }
    #footer_abo #logo_bottom_abo{
        padding: .5rem 0 0 0; 
        width: 5rem;
        height: auto;
        aspect-ratio: 1/1;
        padding: 1rem;
    }
    #footer_abo h3{
        color: #ffffff;
    
    }
    #part2_abo{
        grid-area:"part2";
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: .5rem 0 1rem 0;
    }
    #part2_abo h2{
        font-size: 20px;
        font-weight: bolder;
    }
    #part2_abo ul{
        list-style: none;
        text-align: center;
    }
    #part2_abo ul li img{
        width: 120px;
        height: auto;
        aspect-ratio: 1/1;
        padding: 1.2rem 0 0 0;
    }
    #part2_abo ul li p{
        margin: 0 4rem 0 4rem;
        padding: .2rem 0 .2rem 0;
        font-size: 12px;
        font-weight: bolder;
    }
    #part3_abo{
        grid-area: "part3";
        background-color: #e6bd43;
        padding: 5rem 0 5rem 0;
    }
    #part3_abo h2{
    
        font-size: 22px;
        font-weight: bolder;
        text-align: center;
        padding: 0 0 2rem 0;
    }
    #part3_abo ul{
        list-style: none;
        text-align: center;
    }
    #part3_abo ul li{
        padding: .5rem 0 .3rem 0;
    }
    #part3_abo ul li img{
        width: 7rem;
        height: auto;
        aspect-ratio: 1/1;
    }
    #part4_abo #contact_us{
    
        font-size: 22px;
        font-weight: bolder;
        text-align: center;
        padding: 0 0 2rem 0;
    }
    #part4_abo{
        grid-area: "part4";
        padding: 1.5rem 2rem 1.5rem 2rem;
        background-color:#f7f7f7;
    }
    #part4_abo #subtitle_form{
        padding: 0 0 2rem 0;
        font-size: 17px;
    }
    #part4_abo form input{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
    #message_form{
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
    #part4_abo form button{
        background-color: #e6bd43;
        border: none;
        cursor: pointer;
        text-align: center;
        padding: 15px 32px;
    }
    #contact_info{
        font-size: 22px;
        padding: 1rem  0 1rem 0;
    }
    #part4_abo p{
        font-size: 12px;
        padding: 0 0 1rem 0;
    
    }
    #part4_abo .infox{
        list-style: none;
        text-align:left;
    } 
    #part4_abo .infox li{
        padding: .7rem 0 .7rem 0;
        display: flex;
    
    }
    #part4_abo .infox li img{
        width: 20px;
        height: auto;
        aspect-ratio: 1/1;
        padding: 0 1rem 0 0;
    }
    
    #map{
        height: 12rem;
    }


}



/*---------------settings screen - main----------------------------- */
@media only screen and (min-width:431px){

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
  #mybutton{
    display: block;
  }

    *{
        margin: 0;
        padding: 0;
        
        
    }
    body{
        font-family: 'Inter', sans-serif;


    }
    #progress{
        background-color: #03cc65;
        position: fixed;
        bottom:150px;
        right: 5px;
        height: 70px;
        width: 70px;
        display: grid;
        place-items: center;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        cursor: pointer;
    }
    #progress_value{
        display: block;
        height:100%;
        width:100%;
        /* height: calc(100% -15px);
        width:calc(100% -15px); */
        background-color: #ffffff;
        border-radius: 50%;
        font-size: 25px;
        text-align: center;

    }


    #part1_main{
        display: none;
    }
    #part4_main{
        display: none;
    }
    body{
        font-family: 'Inter', sans-serif;
        
    }
    .grid-container-main{

        display: grid;
        
        grid-template-columns: 1fr;
        grid-template-rows:repeat (7,auto);
        grid-template-areas: "nav"
                             "part1"
                             "part2"
                             "part3"
                             "part4"
                             "part5"
                             "footer";   
    }

    .grid-container-main #nav_main{
        grid-area: "nav";
        font-size: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .grid-container-main .links{
        display: flex;
        padding:0  .5rem 0 0;
        align-items:center;
        list-style: none;
    }
    .grid-container-main .links li a{
        padding: 0 .5rem 0  .5rem;
        text-decoration: none;
        color:#000;
    }
    #contact_link{
        background-color: #e6bd43;
        cursor: pointer;
        text-align: center;
        padding: 15px 30px;

    }
    #contact_link:hover{
        background-color: #000;
        color:#e6bd43
    }
   
    .grid-container-main .logo1_main{
        width: 6rem;
        height: auto;
        aspect-ratio: 1/1;
        padding:.5rem;
    }
    .grid-container-main #except_mobile{
        grid-area: "part1";
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 7rem 0 7rem 0;
        text-align: center;
        position: relative;
        z-index: 1;
    }
    .grid-container-main #except_mobile h2{

        font-size: 28px;
        font-weight: 800;

    }
    .grid-container-main #except_mobile p{
        margin: 0 15rem 0 15rem;
        padding: 1.5rem 0 1.5rem 0;
        font-size: 20px;
    }
    .grid-container-main #except_mobile button{
        background-color: #e6bd43;
        border: none;
        cursor: pointer;
        text-align: center;
        padding: 15px 32px;
        margin: 0 15rem 0 15rem;
    }
    .grid-container-main #except_mobile button:hover{
        background-color: #000;
        color: #e6bd43;

    }
    .grid-container-main #except_mobile .bkg-video{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    #part2_main{
        grid-area: "part2";
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 7rem 0 7rem 0;
    }
    #part2_main h2{
        font-size: 25px;

    } 
    #part2_main p{
        font-size: 20px;
        margin: 1rem 9rem 1rem 9rem;
    }

    #part3_main{
        grid-area: "part3";
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        border: 1px solid black;
        padding: 7rem 9rem 7rem 9rem;
        margin:0 5rem 0 5rem;
        align-items: center;

    }
    #part3_main img{
        width: 25rem;
        height: auto;
        aspect-ratio: 1/1;
        padding: 0 1rem 0 1rem;
        margin: 0 0 0 5rem;
    }
    #part3_main div{
        display: flex;
        flex-direction: column;
        text-align: left;

    }
    #part3_main div h2{
        padding: 1rem 0 1rem 0;
        font-size: 25px;
    }
    #part3_main div p{
        padding: 1rem 0 1rem 0;

        
    }
    #part3_main div button{
        border: 2px solid black;
        background-color: #ffffff;
        margin: 0 35% 0 35%;
        padding:22px 39px;
    }
    #part3_main div button:hover{
        background-color: #000;
        color: #ffffff;
    }
    #part4_main_desk{
        grid-area: "part4";
        display: flex;
        flex-direction: column;

    }
    #part4_main_desk h2{
        text-align: center;
        padding: 3rem ;
        font-weight: 600;
    }

    #part4_main_desk ul{
        display: flex;
        list-style: none;
        text-align: center;
      
    }
    #part4_main_desk ul li{
        margin: 0 50px 0 50px;
    }
    #part4_main_desk ul h3{
        font-size: 18px;
        padding: 0 0 1rem 0;

    }
    #part4_main_desk ul p{
        font-size: 12px;
    }
    
    #part5_main{
        grid-area: "part5";
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 5rem 0 5rem 0;


    }
    #part5_main h2{
        padding: 1rem 0 3rem 0;

    }
    #part5_main ul{
        list-style: none;
        display: flex;
        
    }
    #part5_main ul button{
        border: none;
        background-color: #e6bd43;
        padding: 15px;
    }
    #part5_main ul button:hover{
        background-color: #000;
        color: #e6bd43;
    }

    #part5_main ul input{
        padding: 13px 20px;

    }
    #img_footer_main{
        display: none;
    }



    #footer_main{
        grid-area: "footer";
        background-color: #252525;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #footer_main h3{
        color: #ffff;

    }
    #footer_main ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #footer_main ul li img{
        padding: 1rem 1rem 1rem 0;
        width: 5rem;
        height: auto;
        aspect-ratio: 1/1;
    }
    #footer_main img{
        padding: .5rem 0 0 0; 
        width: 5rem;
        height: auto;
        aspect-ratio: 1/1;
        padding: 2rem;
    }
    
 
/* ----------------------portfolio desk ---------------------*/
    #grid-container-portafolio{
        display: grid;
        
        grid-template-columns: 1fr;
        grid-template-rows:repeat (7,auto);
        grid-template-areas: "nav"
                             "part1"
                             "part2"
                             "part3"
                             "part4"
                             "part5"
                             "footer";

    }

    #grid-container-portafolio #nav_por{
        grid-area: "nav";
        font-size: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
    #grid-container-portafolio #nav_por .r0 {
        display: flex;
        padding:0 .5rem 0 0;
        align-items:center;
        list-style: none;
    }
    #grid-container-portafolio .r0 li a{
        padding: 0 .5rem 0  .5rem;
        text-decoration: none;
        color:#000;
    }
    #grid-container-portafolio .r0 li .contacto{
        
        border: none;
        background-color: #e6bd43;
        padding: 15px 30px;

    }
    #grid-container-portafolio .r0 li .contacto:hover{
        background-color: #000;
        color: #e6bd43;
    }
   
    #nav_por #logo1{
        width: 6rem;
        height: auto;
        aspect-ratio: 1/1;
        padding: .5rem;
    }

    #part1_por{
        grid-area: "part1";
        background-image: url("../ressurser/bkg_part1.png");
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 4rem 0  4rem 0;
        position: relative;
        background-size: cover;
        z-index: 1;

    }
    #part1_por::after{
        content: "";
        background-color: rgba(128,128,128,0.6);
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
    #part1_por h2{

        font-size: 45px;
        padding: 4rem 0 0 0;

    }
    #part2_por{
        grid-area: "part2";
        display: flex;
        flex-direction: column;
        padding: 5rem 3rem 5rem 3rem ;
        margin: 5rem 0 1rem 0;

    }
    #part2_por #subtitle{
        font-size: 40px;
        padding: 0 0 1rem .5rem;
    }
    #part2_por .r1{
        width: 100%;
        border: 1px solid #e6bd43;
        margin: 1rem 0 2rem 0;
    }
    #part2_por .buttons_port{
        display: flex;
        list-style: none;
    }
    #part2_por .buttons_port{
        padding: 0 1rem 0 0;
    }
    #part2_por .buttons_port li button{
        margin: 0 1rem 0 0;
        border: none;
        background-color: #e6bd43;
        padding: 15px 30px;

    }
    #part2_por .buttons_port li button:hover{
        background-color: #000;
        color: #e6bd43;
    }
    

    #part3_por{
        grid-area: "part3";
        padding: 5rem 3rem 5rem 3rem ;
        margin: 1rem 0 1rem 0;
    }
    #part3_por p{
        padding: 0 0 5rem 0;
    }

    #part3_por #branding{
        font-size: 40px;
        padding: 0 0 1rem .5rem;
    }
    #part3_por hr{
        width: 100%;
        border: 1px solid #e6bd43;
        margin: 1rem 0 2rem 0;
    }
    .br_ex{
        list-style: none;
        display: flex; 
        justify-content:space-between;
    
    }
    .br_ex li img{
      
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        margin: 2rem 0 2rem 0;
    }
    #break{
        list-style: none;
    }
    #break img{    
        width: 500px;
        height: 50%;
        aspect-ratio: 1/1;
        margin: 2rem 0 2rem 0;
    }

    #part3_por #design{
        font-size: 40px;
        padding: 0 0 1rem .5rem;

    }
    #design hr{
        width: 100%;
        border: 1px solid #e6bd43;
        margin: 1rem 0 2rem 0;
    }
    .ds_ex p{
        padding: 0 0 5rem 0;

    }

    #part3_por .ds_ex{
        list-style: none;
        display: flex; 
        justify-content:space-between;
    }
    #part3_por .ds_ex li:last-child{
        display: none;
    }

    #part3_por #development{
        font-size: 40px;
        padding: 0 0 1rem .5rem;

    }
    #design hr{
        width: 100%;
        border: 1px solid #e6bd43;
        margin: 1rem 0 2rem 0;
    }

    #part3_por .dev_ex{
        list-style: none;
        display: flex; 
        justify-content:space-around
    }
    #part3_por .dev_ex li:nth-child(-n+2){
        display: none;
    }
    .dev_ex li img{
        width: auto;
        height: 100%;
        aspect-ratio: 1/1;
        margin: 2rem 0 2rem 0;
    }
    footer{
        grid-area: "footer";
        background-color: #252525;
        display: flex;
     
        justify-content: space-between;
        align-items: center;
    }
    #footer_por h3{
        color: #ffff;

    }
    #footer_por ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #footer_por ul li p img{
        padding: 1rem 0 1rem 1rem;
        width: 5rem;
        height: auto;
        aspect-ratio: 1/1;
    }
    #footer_por #logo_bottom{
        padding: .5rem 0 0 0; 
        width: 5rem;
        height: auto;
        aspect-ratio: 1/1;
        padding: 2rem;
    }

    /* ----------------------about desk ---------------------*/
    #grid-container-about{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:repeat (7,auto);
        grid-template-areas: "nav"
                             "part1"
                             "part2"
                             "part3"
                             "part4"
                             "part5"
                             "footer";

    }

    #grid-container-about #nav_abo{
        grid-area: "nav";
        font-size: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
    #grid-container-about #nav_abo .list_links {
        display: flex;
        padding:0 .5rem 0 0;
        align-items:center;
        list-style: none;
    }
    #nav_abo #logo1{
        width: 6rem;
        height: auto;
        aspect-ratio: 1/1;
        padding: .5rem;
    }

    #grid-container-about .list_links li a{
        padding: 0 .5rem 0  .5rem;
        text-decoration: none;
        color:#000;
    }
    #grid-container-about .list_links li #contact{
        
        border: none;
        background-color: #e6bd43;
        padding: 15px 30px;

    }
    #grid-container-about .list_links li #contact:hover{
        background-color: #000;
        color: #e6bd43;
    }
    #part1_abo{
        grid-area: "part1";
        background-image: url("../ressurser/bkg_part1.png");
        background-size:cover;
        /* padding: 9rem 0 9rem 0; */
        padding: 4rem 0  4rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: cover;
        position: relative;
        z-index: 1;
    }
    .flotante{
        overflow:auto;
        height: 25rem;
        width: auto;
        aspect-ratio: 1/1;
        background-color: #f7f7f7;
        text-align: center;
    }
    .flotante h3{
        padding: .5rem 0 .5rem 0;
        font-size: 15px;
    }
    .flotante h2{
        padding: 1rem 0 1rem 0;
        font-weight:600;
    }
    
    .flotante p{
        padding: .5rem 2rem .5rem 2rem;
        font-size: 12px;
    }
    .flotante button{
        background-color: #e6bd43;
        border: none;
        cursor: pointer;
        text-align: center;
        margin: 1rem;
        padding:.5rem 1.4rem;
    }
    .flotante button:hover{
        background-color: #000;
        color:#e6bd43;
    }
    #part1_abo .flotante::after{
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
    
    }
    #part2_abo{
        grid-area: "part2";
        padding: 1rem 0 3rem 0;

    }
    #part2_abo h2{
        font-size: 35px;
        padding: 4rem 0 4rem 0;
        text-align: center;
    }
    #part2_abo .services_desk{
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0 3rem 0 3rem;
    }
    #part2_abo .services_desk li{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 2rem 0 2rem;
    }
    #part2_abo .services_desk li img{
        width: 100px;
        height: auto;
        aspect-ratio: 1/1;
    }
    #part2_abo .services_desk li p{
        font-size: 16px;
        text-align: center;
    }
    #part3_abo{
        grid-area: "part3";
        background-color: #ffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem 0 3rem 0;
        background-color: #e6bd43;
    }
    #part3_abo h2{
        font-size: 35px;
        padding: 4rem 0 4rem 0;
        text-align: center;
    }
    #part3_abo .customers_desk{
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: center;
        align-items: center;
    }
    #part3_abo .customers_desk li img{
        width: 10rem;
        height: auto;
        aspect-ratio: 1/1;
        padding: 0 2rem 2rem 2rem;
    }
    #part4_abo{
        grid-area: "part4";
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    #part4_abo #contact_us{
        font-size: 35px;
        padding: 1.5rem 0 1.5rem 0;
    }
    #part4_abo .desk_contact_form{
        display: grid;
        grid-template-columns: 1fr 1fr;
      

    }
    #part4_Abo .desk_contact_form #source1{
        display: flex;
        justify-content: center;
    }
    #source1 #subtitle_form{
        text-align: center;
        font-size: 28px;
        padding: 2rem 0 0 0 ;
    }
    #part4_abo .desk_contact_form #source1 form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem 2rem 1rem 10rem ;
    }
    #source1 form #name, #subject{
        padding: 15px;
        
    }
    #source1 form #message_form{
        padding: 12rem 35px 25px 35px;
        margin: 0 0 1rem 0;


    }
    #source1 form label{
        font-size: 22px;
        padding: 1rem 0 1rem 0;
    }
    #source1 form button{
        border: none;
        background-color: #e6bd43;
        padding: 15px 45px;
        margin: auto;
    }


    #part4_abo .desk_contact_form #source2{
        display: flex;
        flex-direction: column;
        padding: 1rem 10rem 1rem 2rem ;
    }
    #source2 #contact_info{
        text-align: center;
        font-size: 28px;
        padding: 1rem 0 2rem 0;
    
    }
    #source2 p {
        padding: 0 0 2rem 0;
        font-size: 17px;
    }
    #source2 .infox{
        /* margin: auto; */
        list-style: none;
    }
    #source2 .infox li{
        display: flex;
        align-items: center;
        padding: 2.5rem 0 1.5rem 0;
    }
    .infox li img{
        width: 4rem;
        height: auto;
        aspect-ratio: 1/1;
    }
    .infox li p, a{
        font-size: 17px;
        margin: 0 0 0 2rem;
    }

    #part6_abo{
        grid-area: "part6";
        padding: 2rem 0 1rem 0;


    }
    #part6_abo h2{
        padding: 0 0 1rem 3rem;
        font-size: 38px;
    }
    #part6_abo #map{
        height: 25rem;
        width: auto;
        margin: 0 3rem 0 3rem;
    }
    #footer_abo{
        grid-area: "footer";
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #footer_abo #logo_bottom_abo{
        padding: 1rem 1rem 1rem 1rem;
        width: 5rem;
        height: auto;
        aspect-ratio: 1/1;
    }
    #footer_abo h3{
        color: #ffff;
        text-align: center;
        
    }
    #footer_abo ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #footer_abo ul li p img{
        padding: 1rem 0 1rem 1rem;
        width: 5rem;
        height: auto;
        aspect-ratio: 1/1;
    }


    
    








    

    

}